body{
    background-color: rgb(109, 189, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 480px;
    background-color: #fff;
    padding: 50px;
}
.box h2{
    text-align: center;

}
.img{
padding: 10px 10px;
justify-content: space-between;
align-items: center;
}
button{
    border-radius: 5px;
    right: 50px;
    padding: 10px;
    border-color: #fff;
    background-color: rgb(109, 189, 235);
}
.box h3{
    text-align: center;
}